<div class="container">
  <div class="row">
    <h1>MY FAVORITES ♥️</h1>
    {{#each favorites}}
      <div class="podcast-content">
        <ul>
          <li>
            <img id="favorite" src="{{favoritePodcastImage}}" alt="{{favoritePodcastTitle}}" />
            <a href="/episode/podcast/{{favoritePodcastId}}">
                  <p>{{favoritePodcastTitle}}</p>
            </a>
          </li>
        </ul>
      <form action="/favorite/{{_id}}/delete" method="POST">
      <button class="heart-btn-fav">♥️</button>
      </form>
    {{/each}}
    </div>
  </div>
</div>