<div class="container">
  <div class="row">
    <h1 style="align-items: center;">MY FAVORITE PODCASTS</h1>
    {{#each favorites}}
      <div class="podcast-content">
        <ul>
          <li>
            <img id="favorite" class="rounded mx-auto d-block" src="{{favoritePodcastImage}}" alt="{{favoritePodcastTitle}}" />
            <a href="/episode/podcast/{{favoritePodcastId}}">
                  <h4>{{favoritePodcastTitle}}</h4>
            </a>
          </li>
        </ul>
      </div>
      <form action="/favorite/{{_id}}/delete" method="POST">
        <button class="heart-btn" style="align-items: center;">♥️</button>
      </form>
    {{/each}}
  </div>
</div>