<h1>MY FAVORITES</h1>

{{#each favorites}}
<ul>
    <li>
      <a href="/episode/podcast/{{episode.podcast.id}}">
        <img src="{{favoritePodcastImage}}" alt="{{favoritePodcastTitle}}">
            <h4>{{favoritePodcastTitle}}</h4>
      </a>
    </li>
</ul>
<form action="/favorite/{{_id}}/delete" method="POST">
<button>Delete</button>
</form>
{{/each}}

