{{#if user.picture}}
<img src="{{user.picture}}" alt="{{user.name}}" class="profile-picture" />
{{/if}}
<h4>{{user.name}}</h4>
<h4>{{user.email}}</h4>


<h3>Favorite podcasts</h3>
{{#each favorites}}
    <img src="{{image}}" alt="{{title}}"><a href="/favorite/{{_id}}">{{title}}</a>
{{/each}}



<form action="/authentication/sign-out" method="POST"><button>Sign Out</button>

