
<!--
    <div>
<img src="{{podcast.image}}" alt="{{podcast.title}}">
</div>

<h3>{{podcast.title}}</h3>
<h4>{{podcast.publisher}}</h4>
<ul>
    <h3>Most recente episodes:</h3>
    {{#each podcast.episodes}}</ul>
        <li><a href="/episode/{{id}}">{{title}}</a></li>
    {{/each}}
</ul>

{{#if user}}
    {{#if isFavorited}}
        <form action="/favorite/{{favorite._id}}/delete-favorite" method="POST">
        <button><img src="https://images.emojiterra.com/twitter/v13.0/512px/2764.png" alt="Favorited"></button>
        </form>
    {{else}}
        <form action="/favorite/{{podcast.id}}/add-to-favorites" method="POST">
        <button><img src="https://www.clipartmax.com/png/full/424-4246189_empty-heart-png.png" alt="Unfavorited"></button>
        </form>
    {{/if}}
{{/if}}

-->

<div class="container">
        <div class="row">
            
              <div class="content-image">

                <div class="image"></div>
                   <img id="podcast-image" class="rounded mx-auto d-block" src="{{podcast.image}}" style="width:200px;" alt="{{podcast.title}}">
                 
                </div>

              </div>
              
              <div class="content-podcast">
                
                <div class="podcast-favorite">
                    
                {{#if user}}
                    {{#if isFavorited}}
                    <img src="./images/heart-full.png" style="50px" alt="Favorited"></button>
                        {{else}}
                    <form action="/favorite/{{podcast.id}}/add-to-favorites" method="POST">
                        <button><img src=".public/images/heart -empty.png" style="50px" alt="Unfavorited"></button>
                    </form>
                    {{/if}}
                {{/if}}
                  </div>

                   <div class="podcast-title">
                       <h3>{{podcast.title}} by {{podcast.publisher}}
                       </h3>
                   </div>

                   <div class="podcast-description">
                       <p><strong>Description:</strong> {{podcast.description}}
                       </p>
                   </div>

                <div class="episode-list">
                <ul>
                    <p>Most recent episodes:</p>
                    {{#each podcast.episodes}}</ul>
                        <li><a href="/episode/{{id}}">» {{title}}</a></li>
                    {{/each}}
                </ul>
                </div>
        </div>
    </div>
</div>

   
  


