<div>
<img src="{{image}}" alt="{{title}}">
</div>
<button>Add to playlist</button>


<h3>{{title}}</h3>
<h4><a href="">{{podcast.publisher}}</a></h4>
<h5>{{description}}</h5>




{{!-- Side podcast view still have to be implemented --}}

