<div class="container">
        <div class="row">
            
              <div class="content-image">

                <div class="image">
                   <img id="podcast-image" class="rounded mx-auto d-block" src="{{podcast.image}}" style="width:200px;" alt="{{podcast.title}}">
                </div>

                <div class="podcast-favorite">
                    
                {{#if user}}
                    {{#if isFavorited}}
                        <form action="/favorite/{{isFavorited._id}}/delete" method="POST">
                            <button class="heart-btn">♥️</button>
                        </form>
                        {{else}}
                    <form action="/favorite/{{podcast.id}}/add-to-favorites" method="POST">
                        <button class="add-btn">Add to favorite</button>
                    </form>
                    {{/if}}
                {{/if}}
                  </div>
                


              </div>
              
              <div class="content-podcast">
                
                

                   <div class="podcast-title">
                       <h3>{{podcast.title}} by {{podcast.publisher}}
                       </h3>
                   </div>

                   <div class="podcast-description">
                       <p><strong>Description:</strong> {{podcast.description}}
                       </p>
                   </div>

                <div class="episode-list">
                <ul>
                    <p>Most recent episodes:</p>
                    {{#each podcast.episodes}}</ul>
                        <li><a href="/episode/{{id}}">» {{title}}</a></li>
                    {{/each}}
                </ul>
                </div>
        </div>
    </div>
</div>

   
  


