
<section class="singlepage" id="singplepage">
    <div id="singlepageBg" class="singlepage-bg"></div>
      <div class="container">
        <div class="row">
          <div class="singlepage-inner" id="singlepageInner">
            <div class="content">
              <div class="content-inner">
				  
                  <div class="image">
                   <img id="cover" src="{{episode.image}}" alt="{{episode.title}}">
                  </div>
					<div class="player">
                  <audio  controls autoplay preload="metadata" style=" width:400px;">
					<source src={{episode.audio}} type="audio/mpeg" >
					</audio>
				</div>		
					<h2>{{episode.title}}</h3>
					<h3>{{episode.podcast.publisher}}</h4>
					<p>{{episode.description}}</p>
				
				<div clas="button-row">
				  <a href="/episode/podcast/{{episode.podcast.id}}">View Podcast Info</a>
                
				{{#if user}}
				<a class="shuffle-button" href="/episode/result-shuffle-filtered?keywordQuery={{keywordQuery}}&length={{length}}&genreId={{genreId}}&language={{language}}">Shuffle again</a>
				{{/if}}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
 </section>


