
<div class="container">
<div class="row">

 <div class="content-image" class="podcast-favorite">
    <img src="{{podcast.image}}" style="width:200px;" alt="{{podcast.title}}">
 </div>
 <div class="podcast-favorite">
     <div class="podcast-title">
        <h3>{{podcast.title}} by {{podcast.publisher}}
        </h3>
    </div>
     
 {{#if user}}
     {{#if isFavorited}}
         <form action="/favorite/{{isFavorited._id}}/delete" method="POST">
             <button class="heart-btn">♥️</button>
         </form>
         {{else}}
     <form action="/favorite/{{podcast.id}}/add-to-favorites" method="POST">
         <button class="add-btn">Add to favorites</button>
     </form>
     {{/if}}
 {{/if}}
   </div>
 <div class="episode-list">
 <ul>
     <h3>Most recent episodes:</h3>
     {{#each podcast.episodes}}</ul>
         <li><a href="/episode/{{id}}">» {{title}}</a></li>
     {{/each}}
 </ul>
 </div>
</div>
</div>
   
  


