<div>
<img src="{{episode.image}}" alt="{{episode.title}}">
</div>
{{#if user}}
<button><a href="/playlist/create">Add to playlist</button></a>
{{/if}}

<audio controls autoplay preload="metadata" style=" width:300px;">
	<source src={{episode.audio}} type="audio/mpeg" >
	Play
</audio><br />

<h3>{{episode.title}}</h3>
<h4><a href="/podcast/{{_id}}">View podcast info</a></h4>
<h5>{{episode.description}}</h5>

{{#if user}}
<button><a href="/result-shuffle-filtered">Shuffle again</a></button>
{{/if}}



{{!-- Side podcast view still have to be implemented --}}

