<div class="container">
        <div class="row">
            <div class="col-6" id="content-image">
              <div class="content-episode">
                
                <div class="image">
                   <img id="episode-image" src="{{episode.image}}" style="width:300px;" alt="{{episode.title}}">
                 
                </div>
                
              </div>
            </div>

            <div class="col-6" id="content-audio" >
              <div class="episode-info">

                 

                  <div class="episode-title">
                    <h2>{{episode.title}}</h2>
                  </div>
                  <div class="episode-publisher">
                    <h5> By {{episode.podcast.publisher}}</h5>
                  </div>
                  <div class="player">
                    <audio  controls autoplay preload="metadata" style=" width:400px;">
					          <source src={{episode.audio}} type="audio/mpeg" >
					          </audio>
                  </div> 
                  <br>
                  <div class="podcast-info">
                    <a href="/episode/podcast/{{episode.podcast.id}}"><strong>VIEW PODCAST</strong></a>
                  </div>
            </div>
          </div>
        <div class="row">
            <div class="col" >
            </div>
            <div class="col-6" id="shuffle-again-button">
              {{#if user}}
				        <a href="/episode/result-shuffle-filtered?keywordQuery={{keywordQuery}}&length={{length}}&genreId={{genreId}}&language={{language}}" class="shuffle-button">Shuffle again</a>
				      {{else}}
              <div class="shuffle-button">
                    <a href="/episode/result-shuffle">Shuffle again</a>
                </div> 
                {{/if}}
            </div>
            <div class="col" >
            </div>
        </div>  